# Archivos del sistema
.DS_Store
Thumbs.db

# Dependencias
/node_modules
/vendor

# Archivos de entorno
.env
.env.local
.env.*.local

# Archivos de IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos de compilación
/dist
/build
*.log 